.booking_body {
    background-color: white;
    border: 1px solid rgba(242,242,242,255);
}

.user_img_thumb {
    width: 2rem;
    border-radius: 50%;
}

.booking_body.dark {
    background-color: #121212;
    border: 1px solid #373636;
}

.dark {
    color: #acac93;
}